* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

:root {
  --admin-primary-color: #bfe8e7;
  --admin-secondary-color: #01a49e;
  --admin-background-color: #fff;
  --admin-text-color: #000;
}
