* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

:root {
  --primary-color: rgba(1, 164, 158, 0.25);
  --secondary-color: #01a49e;
  --teritary-color: #01a49f9a;
  --accent-color: #7c2c83;
  --greyBackground-color: #f9f9f9;
  --greyColor-text: #5c5f6a;
  --background-color: #fff;
  --text-color: #000;
  --card-color: rgba(1, 164, 158, 0.50);
  --cardbg-color: rgba(1, 164, 158, 0.10);
}

/* / Home Hero / */
.home {
  background-image: linear-gradient(to left, #01a49f43, #fff);
}
.hero-heading {
  font-size: 65px;
  font-weight: 630;
  color: var(--text-color);
}
@media screen and (max-width: 768px) {
  .hero-heading {
    font-size: 90%;
    font-weight: 630;
    color: var(--text-color);
  }
  .hero-cards .card .card-body {
    padding: 0;
    height: fit-content !important;
  }
}

@media screen and (max-width: 1300px) {
  .hero-cards .card .card-body {
    padding: 0;
    height: 640px !important;
  }
  .hero-cards .card .card-second-row {
    padding: 0;
    height: 300px !important;
  }
}
@media screen and (max-width: 768px) {
  .hero-cards .card .card-body {
    padding: 0;
    height: fit-content !important;
  }
  .hero-cards .card .card-second-row {
    padding: 0;
    height: fit-content !important;
  }
}

.hero-heading span {
  color: var(--secondary-color);
}
.hero p {
  font-size: 58%;
  color: var(--text-color);
}
.second-heading h3 {
  color: var(--secondary-color);
  font-weight: 650;
}
.hero-img {
  background-color: var(--background-color);
  border-radius: 10px;
  max-width: fit-content !important;
}
.hero-cards .card .card-title {
  border-top: 17px solid var(--secondary-color);
  border-radius: 4px 4px 40px 40px;
}
.hero-cards .card {
  border-radius: 0 0 70px 0;
  box-shadow: 2px 1px 7px 0px;
}
.hero-cards .card .card-body {
  padding: 0;
  height: 470px;
}
.hero-cards .card .card-second-row {
  padding: 0;
  height: 240px;
}
/* / Home Hero / */

/* / Home Testimonial / */
.testimonial {
  background: var(--teritary-color);
}
.card {
  cursor: pointer;
}
.yellow-star {
  color: yellow;
}
.testimonial-cards .card {
  min-height: 290px;
}

@media screen and (min-width: 992px) {
  .testimonial-cards .card {
    height: 350px;
  }
}
@media screen and (min-width: 400px) {
  .testimonial-cards .card {
    height: 350px;
  }
}

/* / Header / */
.header {
  background-color: var(--primary-color);
}

.header .logo {
  color: var(--accent-color);
  font-size: 20px;
}
.header .logo-text {
  color: var(--secondary-color);
  font-size: 20px;
}

.header .active {
  color: var(--secondary-color) !important;
  border-bottom: 2px solid var(--secondary-color);
  padding: 10px;
}

.header .custom-nav-link {
  color: var(--text-color);
  padding: 15px;
  margin-left: 10px;
}

.header .custom-nav-link:hover {
  color: var(--secondary-color) !important;
}

.header .navbar-brand {
  padding: 0px;
}

.header nav .nav-link {
  color: var(--text-color);
  font-size: 13px;
  line-height: normal;
}

.header nav .nav-link Link {
  color: var(--text-color) !important;
}

.header #signup{
   color: var(--secondary-color);
   background-color: var(--background-color);
}

@media (max-width: 991.98px) {
  .header .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 575.98px) {
 .header  .navbar-nav .nav-link {
    padding: 0.5rem 0.5rem;
  }
}

/* / Footer / */
.footerSection {
  background-color: var(--greyBackground-color);
}

.footerSection .footerHeading {
  color: var(--accent-color);
  font-size: 24px;
}

.footerSection .footerHeading-text {
  color: var(--secondary-color);
  font-size: 24px;
}

.footerSection .footer-text {
  color: var(--greyColor-text);
  font-size: "14px";
}

.copyrights {
  background-color: var(--text-color);
  color: var(--background-color);
}

.copyrights a{
 font-size: 25px;
 color: var(--background-color);
 margin-right: 12px;
}

.footerSection .custom-nav-link {
  color: var(--greyColor-text);
}

.footer-text {
  color: inherit;
  text-decoration: none;
}

.footer-text:hover {
  color: var(--secondary-color);
}

.footer-menu span {
  padding: 10px 0px;
}
.footer-menu p {
  padding: 10px 0px;
}
.para {
  line-height: 2;
}

/* / About  / */
.about-container {
  text-align: center;
  background: url("../assets/About_hero_image.png") no-repeat center center;
  background-size: cover;
  color: var(--background-color);
  min-height: 80vh;
}

.about-container h1 {
  margin-top: 8%;
}

.about-card {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 20px;
  border: none;
}

.iconImage{
  width: 30px !important;
}

.head-color {
  color: var(--accent-color);
}

@media (max-width: 767px) {
  .about-card {
    width: 80%;
    margin: 10px auto;
  }
}

.ourPartner {
  border-radius: 50%;
  background-color: var(--secondary-color);
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0;
  overflow: hidden;
}

.partnet-img {
  border-radius: 50%;
  width: 80%;
  height: auto;
  position: absolute;
  top: 10%;
}

@media (max-width: 767px) {
  .ourPartner {
    width: 80%;
    padding-bottom: 80%;
    margin: 10px auto;
  }
}
/* / About End  / */

/* Auth Page */
.auth-container {
  max-width: 400px;
  margin: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.auth-container .card-header{
  background-color: var(--background-color);
}

.tabs {
  display: flex;
  justify-content: space-around;
}

.tabs button {
  flex: 1;
  padding: 10px 20px;
  cursor: pointer;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 16px;
}

.tabs button.active {
  border-bottom: 2px solid var(--secondary-color);
}

.tab-content {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
  text-align: left;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="email"],
.input-group input[type="password"],
.input-group input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid var(--greyColor-text);
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
}
.auth-container .btn-login{
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.forgot-password {
  display: block;
  margin-top: 10px;
  color: #4285f4;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.or-separator {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.or-separator::before,
.or-separator::after {
  content: '';
  display: block;
  width: 40%;
  height: 1px;
  background: #ddd;
  position: absolute;
  top: 50%;
}

.or-separator::before {
  left: 0;
}

.or-separator::after {
  right: 0;
}

.or-separator span {
  background: white;
  padding: 0 10px;
  position: relative;
}

/* / Hope Start / */
.hopeSection1 .goalImg{
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hopeSection1 .programmeCard{
  background-color: var(--card-color);
  border: none;
  border-radius: 30px;
  padding: 10px 0px;
}

.programmeHeading{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: var(--accent-color);
}

.hopeSection2{
  background-color: var(--cardbg-color);
}

.hopeSection2 .modulesCard{
  background-color: var(--background-color);
  border: var(--secondary-color);
}

.hopeSection2 .modulesHeading{
  color: var(--background-color);
  border: 1px solid var(--accent-color);
}
/* / Hope End / */

